### Django ###

*.log
*.pot
*.pyc
*.nc
*.deb
*.out 
*.pickle
*.bak
*.dat
*.dir
*.sh

.DS_Store
.file
.python-version
.ipynb_checkpoints







__pycache__/
/static/
/staticfiles/
/media/
node_modules/
uploads/
20250221/
20250222/
20250223/
20250224/
20250225/

conf/

accountable_services/
app_dissemination/
app_emails/
app_subscriptions/
assets/
cambodiaForecast/
 


observed/
forecast/
probabilisticObserved/
pyidw-0.2.20/

logs/
mixins/
models_new/


Google.py
earthEngine-init.py

angular-ee-402820-6ae0c92db72f.json
credentials.json
dbconfig.json
dbconfig--.json
ee-sajib-c2656ab8c034.json
hasanCredentials.json
newWebCredential.json
package-lock.json
package.json
env.json
transport-363010-5aa27109c357.json

gunicorn_test_file.sh
gunicorn_test_file_port.sh

deleted.txt

runCelery.py
runFFWC.py
floodForecast-backup.py

ffwc_models.py
mghydro.py
models_new.py
updateLocalDatabase.py
generateRainfallDistributionMap.py
automatedRainfallDistributionMap.py